extends layout

block content
  h1= title
  p Welcome to #{title}
  - if(success_msg != '')
        div(class="pop pop__success") #{success_msg}
  - if(error_msg != '')
        div(class="pop pop__error") #{error_msg}
  - if(error != '')
        div(class="pop pop__error") #{error}
  form(action="/user/login" method="post")
    p
        label email
        input(type="text" id="email" name="email")
    p
        label password
        input(type="password" id="password" name="password")
    p
        input(type="submit" value="Login")
    p if you don't have account you can 
        a(href='/user/register') register here